@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap');


:root{
    --ff-logo: 'Tourney', cursive;
}

/*Reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

/* OLD Header style */
#header{
    display: none;  /*hide old header*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* #nav .subnav li{
    display: block;
} */

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon{
    color:  #fff;
    font-size: 20px;
    line-height: 46px;
}

/* END OLD Header Style */

/* NEW Header Style */

header {
    --height: 80px;
    padding: 0 8%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--height);
    line-height: var(--height);
    display: flex;
    justify-content: space-between;
    background:rgba(0, 0, 0, 0);
    z-index: 99999;
    transition: all 0.5s linear;
}

header a {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

header .header-logo,
header .header-menu {
    display: flex;
}

header > .header-logo > a{
    font-size: 30px;
    display: flex;
    font-family: var(--ff-logo);
}

header > .header-logo > a > h3 {
    letter-spacing: 4px;
}

header .header-menu li {
    list-style: none;
    display: block;
    padding: 0 20px;
}

header > ul > li:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* END NEW Header Style  */

/* Slider Style */

#slider{
    position: relative;
    /* margin-top: 46px; */
    padding-top: 50%;
    background: url('../assets/imgs/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

/* Content Style */

#content{

}

#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#footer{

}
